#panel {

    position: fixed;

    top: 50px;

    right: -272px;

    z-index: 99999;

    transition: right 0.5s ease-out 0s;

}



#panel:hover {

    right: 0;

}



#panel #content {

    width: 270px;

    height: 445px;

    padding: 20px;

    border-top: 2px solid #0080ff;

    border-right: none;

    border-bottom: 2px solid #0080ff;

    border-left: 2px solid #0080ff;

    z-index: 200;

    background: #FFFFFF;

    position: relative;

    border-radius: 10px 0 0 10px;

}



#panel #title {

    width: 150px;

    border: 2px solid #0080ff;

    background: #0080ff;

    color: #FFFFFF;

    font-weight: bold;

    border-radius: 10px;

    padding: 5px 5px 25px 5px;

    text-align: center;

    position: relative;

    top: 140px;

    left: -90px;

    transform: rotate(-90deg);

    z-index: 1;

}